# <h1><center><span style="color:yellow">**Bismillahirrahmanirrahim**</span></center></h1>
# <h1><center><span style="color:white">Allahummayasir walatu'asir</span></center></h1>
# <center><span style='color:white'>**TUGAS 3**</span></center>

1. Keluarkan dan tampilkan menggunakan print semua anggota list pada sel dibawah

In [3]:
data_list = ['bandung','jakarta','semarang','palembang']
for item in data_list:
    print(item)

#contoh list = [1,2,3]
#contoh hasil
#1
#2
#3

bandung
jakarta
semarang
palembang

2. Keluarkan dan tampilkan menggunakan metode print anggota list dengan tipe numerik (int & float) dari list pada sel di bawah

In [4]:
#kerjakan soal no.2 pada sel berikut ini
#contoh list = ['a', 1]
#contoh hasil :
#1

data_list_2 = [100, 'makassar', 15.5, True, "20"] 
for item in data_list_2:
    if type(item) == int:
        print(item)
    elif type(item) == float:
        print(item)

100
15.5

3. Buat sebuah kode if else yang dapat menyatakan apakah suatu bilangan ganjil atau genap.

In [5]:
#kerjakan soal no.3 disini

number = 9
if number%2 == 0:
    print('Genap')
else:
    print('Ganjil') 

#hasil yang diharapkan
#ganjil

Ganjil

4. Kalikan semua anggota list_1 terhadap anggota ganjil pada list_2. tampilkan hasilnya

In [6]:
#kerjakan soal no.4 pada sel berikut ini
list_1 = [1,2,3,4,5]
list_2 = [2,3,6,8,9]
for i in list_1:
    for j in list_2:
        if j%2 != 0:
            print(i*j)

coba_coba_ikalij = [i*j for j in list_2 for i in list_1 if j%2 != 0]
coba_coba_ikalij
#hasil yang diharapkan
#'''
#3
#9
#6
#18
#9
#27
#12
#36
#15
#45
#'''

3
9
6
18
9
27
12
36
15
45

[3, 6, 9, 12, 15, 9, 18, 27, 36, 45]

5. lakukan pengecekan apakah terdapat angka pada tiap2 anggota list. lalu tampilkan sesuai format yang diminta

In [7]:
#kerjakan soal no.5 pada sel berikut ini
#contoh list = ['ada', 'ganesa10']
#contoh hasil:
#ada tidak memiliki angka
#ganesa10 memiliki angka

data_list_3 = ['asda8asd', 'bandunglautanapi', 'washingt0nDC']
for item in data_list_3:
    if item.isalpha() == True:
        print('{} tidak memiliki angka'.format(item))
    else:
        print('{} memiliki angka'.format(item))

asda8asd memiliki angka
bandunglautanapi tidak memiliki angka
washingt0nDC memiliki angka

6. Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [8]:
#kerjakan soal no.6 pada sel berikut ini

data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]
nilai_diatas_80 = list()
for item in data_siswa:
    if item['nilai'] >= 80:
       nilai_diatas_80.append(item['nama'])
print(nilai_diatas_80)

Coba_coba = [item['nama'] for item in data_siswa if item['nilai'] >= 80]
print(Coba_coba)

#hasil yang diharapkan
#[Budi, Rudi, Leo]

### BAGAIMANA YAA COACH CARA UNTUK MENGHILANGKAN TANDA ('') SEPERTI PADA OUTPUT YANG DIHARAPKAN SEDANGKAN TIPE DATA NYA STRING DAN BERADA DI DALAM LIST? HOW COME? THANK YOU

['Budi', 'Rudi', 'Leo']
['Budi', 'Rudi', 'Leo']